# Salary Prediction in Mexico

## Importing

In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Lasso, Ridge

## Dataframes

In [5]:
dataset_path = "C:\\Users\\david\\Documents\\MachineLearningScript\\Dataset\\salary.csv"
df = pd.read_csv(dataset_path)
df.shape
df.sample()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
16552,25,Private,295108,HS-grad,9,Never-married,Handlers-cleaners,Unmarried,Black,Female,0,0,25,United-States,<=50K

Filter the dataset to only have mexican data

In [6]:
df = df[df["native-country"].str.contains("Mexico", case=False, na=False)]
df.shape

(643, 15)

In [7]:
df[df['salary'] == '>50K']

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []